
body {
    margin: 0;
    padding: 0;
}

.custom-header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}
