
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

.navbar {
    height: 35px;
    width: 100%;
    background-color: #022369;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-family: poppins, sans-serif;
    font-weight: 200;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    margin-bottom: 50px;
}

.navbar a:hover {
    color: yellow
}

.toggle-container {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 24px;
    margin-bottom: 70px;
}

.toggle-switch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch::before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.language-toggle {
    display: flex;
    align-items: center;
}

.language-toggle .toggle-container {
    margin-right: 10px;
}

/* Text labels */
.toggle-label {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Marathi Text */
.marathi-text {
    display: none;
}

/* Toggle switch checked state */
input[type="checkbox"]:checked+.toggle-switch::before {
    transform: translateX(26px);
}

input[type="checkbox"]:checked+.toggle-switch {
    background-color: #4caf50;
    /* Green color */
}

input[type="checkbox"] {
    display: none;
}

.nav2 {
    height: 125px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}

.rightpart {
    margin-top: 20px;
}

.rightmost {
    margin-left: 180px;
}

.list {
    height: 71px;
    width: 100%;
    background-color: #022369;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;


}

.list a {
    text-decoration: none;
    color: white;
}

.list a:hover {
    color: yellow;
}

.swiper-wrapper img {
    height: 600px;
    width: 1500px;

}

.people {
    margin-top: 70px;
    display: flex;

}

.details {
    height: 250px;
    width: 250px;
    border: 2px solid black;
    margin-right: 80px;
}

.details img {
    height: 140px;
    width: 163px;
    margin-left: 40px;
    margin-top: 15px;
}

.footer {
    background-color: #022369;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 250px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
