
<header>
    <% if (locals.email) { %>
        <a href="/user/logout">Logout</a>
    <% } else { %>
        <a href="/user/sign_in">Sign In</a>
        <a href="/user/sign_up">Sign Up</a>
    <% } %>
</header>
