<form id="attendance-form" method="post">
    <div class="mb-3">
        <label for="school" class="form-label">School</label>
        <select id="school" name="school" class="form-select">
            <option value="शिर्वे">शिर्वे</option>
            <option value="लोभाणी">लोभाणी</option>
            <option value="सलसाडी">सलसाडी</option>
            <option value="अमोणी">अमोणी </option>
            <option value="राणीपूर">राणीपूर</option>
            <option value="बोरद">बोरद</option>
            <option value="जांभारइ">जांभारइ</option>
            <option value="इच्छागव्हाण">इच्छागव्हाण</option>
            <option value="भांगरापाणी">भांगरापाणी</option>
            <option value="नाला">नाला</option>
            <option value="कुंभारखान">कुंभारखान</option>
            <option value="अलिविहीर">अलिविहीर</option>
            <option value="बर्डी">बर्डी</option>
            <option value="भगदरी">भगदरी</option>
            <option value="दाब">दाब</option>
            <option value="तालंबा">तालंबा</option>
            <option value="मोरंबा">मोरंबा</option>
            <option value="होराफळी">होराफळी</option>
            <option value="वडफळी">वडफळी</option>
            <option value="सरी">सरी</option>
            <option value="खडकापाणी">खडकापाणी</option>
            <option value="कंकाळामाळ">कंकाळामाळ</option>
            <option value="जांगठी">जांभारइ</option>
            <option value="गमण">गमण</option>
            <option value="दहेल">दहेल</option>
            <option value="तोरणमाळ">तोरणमाळ</option>
            <option value="चुलवड">चुलवड</option>
            <option value="मांडवी">मांडवी</option>
            <option value="हातधुई">हातधुई</option>
            <option value="काकरदा">काकरदा</option>
            <option value="रोषमाळ">रोषमाळ</option>
            <option value="असली">असली</option>
            <option value="बिजरी">बिजरी</option>
            <option value="तलारइ">तलारइ</option>
            <option value="मोजरा">मोजरा</option>
            <option value="सोन खुर्द">सोन खुर्द</option>
            <option value="झापी">झापी</option>
            <option value="सिंदीदिगर">सिंदीदिगर</option>
            <option value="शेलगदा">शेलगदा</option>
            <option value="वलवाल">वलवाल</option>
            <option value="त्रिशूल">त्रिशूल</option>
            <option value="तेलखेडी">तेलखेडी</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">Type of student</label>
        <select id="type" name="type" class="form-select">
            <option value="आश्रमिक">आश्रमिक</option>
            <option value="विनासवळत">विनासवळत</option>
            <option value="डेस्कॉलर">डेस्कॉलर</option>
            <option value="None">None</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="startDate" class="form-label">Date</label>
        <input type="date" id="startDate" name="Date" class="form-control">
    </div>
    <div class="mb-3">
        <label for="type1" class="form-label">Attendance Status</label>
        <select id="type1" name="status" class="form-select">
            <option value="Present">Present</option>
            <option value="Absent">Absent</option>
            <option value="None">None</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="type2" class="form-label">Class</label>
        <select id="type2" name="year" class="form-select">
            <option value="1">पहिली</option>
            <option value="2">दुसरी</option>
            <option value="3">तिसरी</option>
            <option value="4">चौथी</option>
            <option value="5">पाचवी</option>
            <option value="6">सहावी</option>
            <option value="7">सातवी</option>
            <option value="8">आठवी</option>
            <option value="9">नवमी</option>
            <option value="10">दहावी</option>
            <option value="11">11th</option>
            <option value="12">बारावी</option>
            <option value="None">None</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="type3" class="form-label">Attendance Status</label>
        <select id="type3" name="gender" class="form-select">
            <option value="Male">मुले</option>
            <option value="Female">मुली</option>
            <option value="None">None</option>
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<div id="attendance-sheet">
</div>

<script>
    $('#attendance-form').submit(function (event) {
        // Prevent the form from submitting normally
        event.preventDefault();

        // Get the form data
        const formData = $(this).serialize();

        // Send the form data using AJAX
        $.ajax({
            url: '/admin/attendance',
            type: 'POST',
            data: formData,
            success: function (response) {
                // Create h3 element with the total number of students and add margin-top
                const totalStudentsH3 = $('<h3>Total Students: ' + response.rowCount + '</h3>').css('margin-top', '10px');

                // Append the h3 tag to the attendance-sheet div
                $('#attendance-sheet').empty().append(totalStudentsH3);

                // Create table element
                const table = $('<table class="table"></table>');
                table.css('max-width', $('main').width());

                // Create table headers
                const headers = ['Student Name', 'School', 'Date','Gender'];
                const headerRow = $('<tr></tr>');
                headers.forEach(header => {
                    headerRow.append('<th>' + header + '</th>');
                });
                table.append(headerRow);

                // Create table rows for each attendance record
                response.data.forEach(attendance => {
                    const row = $('<tr></tr>');
                    row.append('<td>' + attendance.studentName + '</td>');
                    row.append('<td>' + attendance.schoolName + '</td>');
                    row.append('<td>' + attendance.attendanceDate.split('T')[0] + '</td>');
                    row.append('<td>' + attendance.gender + '</td>');
                    table.append(row);
                });

                // Append the table to the attendance-sheet div
                $('#attendance-sheet').append(table);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>