<html>

<head>
    <title>EJS Example</title>
</head>

<body>
    <h1>Welcome to EJS!</h1>
    <ul>
        <% users.forEach(function(user){ %>
            <li>
                <%= user.full_name %>
                <%= user.email %>     
            </li>
            <% }); %>
    </ul>
</body>

</html>