
<link rel="stylesheet" href="/css/home.css">
<div class="image-container">
    <% if(locals.email) { %>
        <a href="#">Attendance</a>
    <% } %>
    <img src="/images/logo.jpg" alt="Image description">
</div>

