<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tribal School-Register</title>

    <link rel="stylesheet" href="/css/sign_up.css">
    <link rel="icon" type="image/png/svg" href="fcc_secondary_small (1).svg">

</head>

<body>

    <div class="container">
        <!-- <img src="school.jpg" alt=""> -->
        <div class="sidebar"
            style="height: 800px;width: 500px;background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8));;margin-left: -120px;">
            <div class="side" style="margin-right: 150px;">
                <img src="/images/logo.png" alt="" style="height: 80px;width: 80px;margin-left: 210px;margin-top: 160px;">
                <h3 style="margin-left: 70px;margin-top: 30px;white-space:nowrap; color: white;">Nandurbar Schools
                    Portal</h3>
            </div>
        </div>
        <div class="form signup"
            style="width: 450px;margin-left: 280px;height: 450px;margin-top: 170px;border: 2px solid black;">
            <div class="content">
                <header style="color: black; font-weight: 500;font-size:25px;text-align:center;">Register</header>
                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Name" class="input"
                            style="width: 350px;height: 30px;margin-top: 5px ;border-radius: 6px;" required>
                    </div>
                    <div class="input-field">
                        <input type="email" placeholder="Email" class="input"
                            style="width: 350px;height: 30px; ;border-radius: 6px;" required>
                    </div>
                    <div class="input-field" style="display: flex;align-items: center;">
                        <input type="password" placeholder="Password" id="pass1"
                            style="width: 350px; height: 30px;border-radius: 6px;" required>
                        <img src="/images/eye-close-1.png" alt="" id="eye1"
                            style="width: 20px;height: 20px;position: absolute; cursor: pointer; margin-left: 300px;">
                    </div>
                    <div class="input-field" style="display: flex;align-items: center;">
                        <input type="password" placeholder="confirmed Password" id="pass2"
                            style="width: 350px; height: 30px;border-radius: 6px;" required>
                        <img src="/images/eye-close-1.png" alt="" id="eye2"
                            style="width: 20px;height: 20px;position: absolute; cursor: pointer; margin-left: 300px;">
                    </div>



                    <div class="button-field" style="height: 30px;">
                        <button>Register</button>
                    </div>

                    <div class="forgot" style="margin-top: 10px;">
                        <span>Already have an account? <a href="/user/sign_in">Login now</a></span>
                    </div>


                </form>
            </div>
            <!-- <div class="line">

            </div>
            <div class="media">
                <a href="#" class="facebook" style="height: 40px; border-radius: 6px; padding: 2px; font-size: 16px;">
                    <i class="fa-brands fa-facebook"></i>
                    <span>Login with Facebook</span>
                </a>

                <a href="#" class="google" style="height: 40px; border-radius: 6px; padding: 2px; font-size: 16px; margin-top: 10px;">
                    <img src="google.webp" alt="" class="google-img">
                    <span style="color: #232836;">Login with Google</span>
                </a>
            </div> -->
        </div>
    </div>


    <script>
        const pass1 = document.querySelector("#pass1");
        const eye1 = document.querySelector("#eye1");
        eye1.addEventListener("click", () => {
            if (pass1.type === "password") {
                pass1.type = "text";
            } else {
                pass1.type = "password";
            }
        });

        const pass2 = document.querySelector("#pass2");
        const eye2 = document.querySelector("#eye2");
        eye2.addEventListener("click", () => {
            if (pass2.type === "password") {
                pass2.type = "text";
            } else {
                pass2.type = "password";
            }
        });
    </script>
</body>

</html>